.order {
  padding: 4rem 8rem;
  margin-bottom: 4rem;
  color: #fff;
  text-align: center;
  background-color: var(--main-color-1);
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.2);
}
.link {
  text-decoration: none;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid currentColor;
  color: #fff;
}
