@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --main-color: #ddf2fd;
  --main-color-1: #6cb3d9;
  --main-color-2: #3d9bcc;
  --shadow-light: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
  --color-text: #1f2426;
  --color-text-darker: #06090d;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Sofia Sans', sans-serif;
  font-size: 1.8rem;
}

.heading-secondary {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

.flex {
  display: flex;
  gap: 2rem;
}
